* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

img {
  border: none;
  display: block; }

body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333; }

input {
  border: none;
  outline: none; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  height: 99px;
  border-bottom: 1px solid gray;
  position: relative; }
  #header .header-l {
    position: absolute;
    float: left;
    left: 33px;
    top: 35px; }
  #header .header-m {
    position: absolute;
    float: left;
    width: 432px;
    left: 216px;
    top: 30px; }
    #header .header-m input {
      height: 37px;
      border: solid 1px red; }
    #header .header-m #txt {
      width: 354px;
      float: left;
      text-indent: 30px; }
    #header .header-m #btn {
      width: 75px;
      float: left;
      background: #dc2828;
      height: 39px;
      color: #fff;
      font-size: 16px;
      border: none; }
  #header .header-r {
    position: absolute;
    float: right;
    top: 30px;
    right: 227px; }
    #header .header-r li {
      display: block;
      text-align: center;
      float: left;
      height: 37px;
      padding: 0 20px; }
    #header .header-r .li01 {
      display: block;
      line-height: 37px;
      border-left: solid 1px darkgray;
      border-right: solid 1px darkgray; }
    #header .header-r .li02 {
      float: left;
      line-height: 37px; }
      #header .header-r .li02 a {
        color: red; }

#t-body {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: relative; }
  #t-body .body-left {
    box-sizing: border-box;
    position: relative;
    left: 32px;
    top: 20px;
    width: 180px;
    height: 713px;
    background: #fff; }
    #t-body .body-left .t-red {
      height: 6px;
      width: 180px;
      background: #ff3f3f; }
    #t-body .body-left .question {
      height: 74px;
      border-bottom: dashed 1px silver; }
      #t-body .body-left .question a {
        font-size: 18px;
        font-weight: bold;
        display: block;
        color: #000;
        line-height: 74px;
        text-align: center; }
    #t-body .body-left ul li {
      display: block;
      text-align: center;
      margin-top: 44px; }
      #t-body .body-left ul li a {
        font-size: 14px;
        color: #808080; }
      #t-body .body-left ul li .active {
        color: red; }
  #t-body .body-top {
    box-sizing: border-box;
    width: 1000px;
    height: 80px;
    background: #fff;
    position: absolute;
    left: 232px;
    top: 20px; }
    #t-body .body-top .buy-strategy {
      font-size: 18px;
      font-weight: bold;
      line-height: 80px;
      text-indent: 27px; }
  #t-body .body-middle {
    box-sizing: border-box;
    width: 1000px;
    height: 624px;
    background: #fff;
    position: absolute;
    left: 232px;
    top: 110px; }
    #t-body .body-middle .content {
      position: absolute;
      box-sizing: border-box;
      margin: 36px auto;
      padding-left: 34px;
      width: 966px;
      height: 520px;
      overflow-y: auto;
      line-height: 50px; }

#buttom {
  width: 100%;
  height: 400px;
  position: absolute;
  background: #eeeeee; }
  #buttom .butt {
    box-sizing: border-box;
    position: absolute;
    width: 1200px;
    height: 322px;
    left: 32px;
    top: 30px;
    background: #fff; }
    #buttom .butt .like h2 {
      float: left;
      margin-top: 24px;
      margin-left: 32px; }
    #buttom .butt .like a {
      display: block;
      float: right;
      margin-top: 26px;
      margin-right: 32px;
      font-size: 12px;
      color: #1a9eff; }
    #buttom .butt .list {
      width: 100%;
      height: 270px; }
      #buttom .butt .list .list01 {
        position: absolute;
        margin-top: 52px;
        margin-left: 32;
        float: left;
        left: 32px; }
        #buttom .butt .list .list01:nth-child(2) {
          left: 230px; }
        #buttom .butt .list .list01:nth-child(3) {
          left: 426px; }
        #buttom .butt .list .list01:nth-child(4) {
          left: 622px; }
        #buttom .butt .list .list01:nth-child(5) {
          left: 815px; }
        #buttom .butt .list .list01:nth-child(6) {
          left: 1011px; }
        #buttom .butt .list .list01 a {
          display: block;
          width: 162px;
          height: 162px;
          border: solid 1px silver; }
          #buttom .butt .list .list01 a img {
            text-align: center;
            line-height: 162px;
            width: 162px;
            height: 162px; }
        #buttom .butt .list .list01 .list-name {
          display: block;
          width: 162px;
          text-align: center;
          margin-top: 13px;
          line-height: 20px;
          font-size: 14px;
          word-break: break-all; }
        #buttom .butt .list .list01 .list-price {
          box-sizing: border-box;
          display: block;
          width: 162px;
          height: 16px;
          top: 230px;
          position: absolute;
          color: red;
          text-align: center;
          font-size: 15px; }

#t-footer {
  width: 100%;
  height: 281px;
  background: #fff;
  position: absolute;
  top: 1250px; }
  #t-footer .ind_1200 {
    width: 1200px;
    margin: 0 auto; }
    #t-footer .ind_1200 .footer_icon {
      height: 112px;
      border-bottom: solid 1px silver;
      padding-top: 40px; }
      #t-footer .ind_1200 .footer_icon .footer_icon_l {
        position: relative;
        margin-left: 90px;
        float: left; }
        #t-footer .ind_1200 .footer_icon .footer_icon_l i {
          position: absolute;
          background: url(../img/icon.png) -2px -131px no-repeat;
          width: 72px;
          height: 72px; }
        #t-footer .ind_1200 .footer_icon .footer_icon_l .icon_2 {
          background-position: -86px -131px; }
        #t-footer .ind_1200 .footer_icon .footer_icon_l .icon_3 {
          background-position: -170px -131px; }
        #t-footer .ind_1200 .footer_icon .footer_icon_l .icon_4 {
          background-position: -253px -131px; }
        #t-footer .ind_1200 .footer_icon .footer_icon_l .txt_t {
          padding-left: 85px;
          color: #ff3c3c;
          padding-top: 8px; }
          #t-footer .ind_1200 .footer_icon .footer_icon_l .txt_t p {
            font-size: 16px;
            padding-top: 5px; }
          #t-footer .ind_1200 .footer_icon .footer_icon_l .txt_t .boldp {
            font-size: 20px; }
    #t-footer .ind_1200 .footer_d {
      padding-bottom: 28px; }
      #t-footer .ind_1200 .footer_d div {
        text-align: center;
        margin-top: 45px; }
        #t-footer .ind_1200 .footer_d div a {
          font-size: 14px;
          color: #747474;
          padding: 0 18px;
          border-left: 1px solid #747474;
          outline: 0; }
          #t-footer .ind_1200 .footer_d div a:first-child {
            border: none; }
      #t-footer .ind_1200 .footer_d p {
        color: grey;
        margin-top: 15px;
        font-size: 14px;
        text-align: center; }

/*# sourceMappingURL=strategy.css.map */
